html, body{
  height: 100%;
  background: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

h4{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: bold;
  color: black;
}

h2{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.bodyh2{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .05rem;
}

p{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
}

i{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 12px;
}
nav{
  background: rgb(0, 0, 0);
}

nav a{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  letter-spacing: .05rem;
  font-size: 20px;
}

.nav-item{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  color: white;
  text-transform: uppercase;
}

.navbar-brand{
  font-size: 24px;
}

.maincontainer{
  background-color: rgba(255,255,255,0);
  min-height: 100%;
  vertical-align: middle;
  position: relative;
}

#mainlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-top: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) 
}

.btn{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
}

.btn:hover{
  background-color: black;
  color: white;
}

.gapping-bar{
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.blockquote-footer{
  color: black;
}

.card{
  background-color: rgba(172, 72, 72, 0);
  padding: 10px;
  border: 0px;
}

.card img{
  max-width: 50%;
  padding-top: 10px;
}

#about{
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0);
}

#about img{
  max-width: 45%;
}

#about h2{
  color: black;
}

.about-text{
  padding: 30px 30px 0px 30px;
}

#work{
  background-color: rgba(255,255,255,0);
  padding-top: 60px;
  padding-bottom: 60px;
}

#work h2{
  color: black;
}

#work img{
  max-width: 70%;
  padding: 20px;
}

#work-modal-content img{
  max-width: 100%;
  padding: 10px;
}

#work-modal-content {
  padding: 50px;
}

.contact-form{
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: rgba(255,255,255,0);
}

label{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.form-control{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

#contact{
padding-top: 60px;
padding-bottom: 60px;
}

#contact a{
  color: rgba(0, 0, 0, 0.5);
}

#contact p{
  color: rgba(0, 0, 0, 0.5);
}

#footer{
  background: black;
  color: lightgray;
}

#footer p{
  font-size: 14px;
  min-width: 100%;
}